button {
  background-color: black;
  color: white;
  text-align: center;
  border-radius: 10px;
  margin-top: 10px;
  padding: 5px;
}

.btAdd{
  padding: 10px;
  background-color: orange;
  color: black;
  text-align: center;
  margin-left: 5px;
}
.imgProd {
  width: 200px;
  height: 200px;
}
.row {
  margin-top: 20px;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}
.container {
  text-align: center;
}

.col-sm {
  margin-bottom: 50px;
}
