@import url('https://fonts.googleapis.com/css2?family=Nunito&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'roboto', sans-serif;
}

body{
    background-color: rgb(255, 255, 255);
}

input{
    font-weight: bold;
    border: none;
    border-radius: 5px;
    background-color: #fff;
    padding: 3px 5px;
    width: 140px;
    height: 1.2rem;
    margin-top: 0.5rem;
}

select{
    border-radius: 5px;
    width: 140px;
    height: 1.8rem;
    margin-top: 0.5rem;
    background-color: aquamarine;
    padding: 3px 5px;
}